@use "./base.scss";

// D2Coding (D2코딩) - Google Fonts에 없어서 CDN으로 직접 로드
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
