@use "./base.scss";

// Nanum Gothic (나눔고딕) from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

// D2Coding from Naver CDN
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
